{% extends 'base.html.twig' %}

{% block title %}Longeur de mon nom
{% endblock %}

{% block body %}
	<style>
		h1 {
			background-color: #33cc66;
			color: #fff;
			text-align: center;
		}
	</style>

	<div class="example-wrapper">
		<h1>Votre nom est
			{{nom}}, il est composé de
			{{taille}}
			caractères.</h1>

		{% set min = 11 %}

		{% if taille >= min %}

<p>Taille >=
	{{min}}</p>

				

		{% else %}
			<p>Taille <
				{{min}}</p>

		{% endif %}

		<p>
			Merci pour votre visite</p>
	</div>
{% endblock %}
